{% extends 'base.html' %}{% block head %}
<link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<section>
    <div class="container-fluid  p-5">
        <div class="row row-cols-1 row-cols-md-3">
            
            <div class="col p-3">
                <div class="card" style="
                border:2px solid;
                border-color: rgb(51, 126, 191);
                border-radius: 20px;">
                    <div class="header p-3">
                        Sign up!
                    </div>
                    <div class="card-body">
                        Sign up to access, save your list!
                    </div>
                    <div class="center ">
                        <button class="button col-4 pr-auto mb-2 pl-auto">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div> 

            <div class="col p-3">
                <div class="card" style="
                border:2px solid;
                border-color: rgb(51, 126, 191);
                border-radius: 20px;">
                    <div class="header p-3">
                        Top Games
                    </div>
                    <div class="card-body">
                        Start by looking at the hottest games right now!
                    </div>
                    <div class="center ">
                        <button class="button col-4 pr-auto mb-2 pl-auto">
                            Games
                        </button>
                    </div>
                </div>
            </div>

            <div class="col p-3">
                <div class="card" style="
                border:2px solid;
                border-color: rgb(51, 126, 191);
                border-radius: 20px;">
                    <div class="header p-3" >
                        Search Games
                    </div>
                    <div class="card-body">
                        Search to find your favorite game!
                    </div>
                    <div class="center ">
                        <button class="button col-4 pr-auto mb-2 pl-auto">
                            Search
                        </button>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid  p-5">
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2">
            {% for game in data %}
            <div class="col p-2">
                <div class="game-card" class="col p-3">
                    <!-- <div style="color: rgb(255, 250, 250);">
                        .
                    </div> -->
                    
                    <img class="img-fluid rounded mx-auto d-block card-img-top" src="{{game.image}}">
                    
                    

                    <div class="title p-2">
                        {{game.title}}
                    </div>
                    <div class="genre p-2">
                        {% for genre in game.genre %}
                        <p class="genre-b m-0">{{genre}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div> 
            {% endfor %}

        </div>
    </div>
</section>

{% endblock content %}