.center{
    display: flex;
    justify-content: center;
    background: rgb(255, 250, 250);
    border-radius: 0 0 20px 20px;
}

img{
    
}

.title{
    font-size: large;
    background: rgb(255, 250, 250);
}
.genre p{
    display:inline-block;
}
.genre{
    background: rgb(255, 250, 250);
    border-radius: 0,0, 10px 10px;
}
.genre-b{
    font-size: smaller;
    padding: 2px;
    border:1px solid;
    border-radius: 25px;
    border-color: rgb(51, 85, 114);
    background: rgb(51, 85, 114);
    color:white;
    font-family: "Arial";
}

.game-card{
    border: 1.2px solid;
    border-radius: 5px;
    border-color: rgb(51, 85, 114);
    background: rgb(255, 250, 250)
}

.card-button{
    border:1px solid;
    border-color: rgb(51, 85, 114);
    border-radius: 6px;
    background:white;
    text-decoration: none;
    color:rgb(51, 85, 114);
}
.card_button:hover{
    color:white;
    background:rgb(51, 85, 114);
}